repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-ast
  - id: check-docstring-first
- repo: https://github.com/psf/black
  rev: 23.12.1
  hooks:
  - id: black
    args: [--quiet]
    files: "common|database|grouper|listener|evaluator|notificator|vmaas_sync|taskomatic|scripts|exploit_sync|common|cluster|tests"
- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    files: "common|database|grouper|listener|evaluator|notificator|manager|vmaas_sync|taskomatic|scripts|exploit_sync|common|cluster|tests"
- repo: https://github.com/asottile/reorder-python-imports
  rev: v3.13.0
  hooks:
  - id: reorder-python-imports
