git:
  depth: false
branches:
  only:
    - master
    - stable
sudo: required
language: python
python:
  - "3.6"
notifications:
  email: false
install:
  - pip install -U pip pipenv codecov
  - cd tests
  - pipenv install --system && pipenv check
  - cd ..
script:
  - PIPENV_VERBOSITY=-1 /bin/bash run_tests.sh
  - codecov
addons:
  postgresql: "10"
  apt:
    packages:
      - postgresql-10
      - postgresql-client-10
env:
  global:
    - PGPORT=5433
after_success:
  - git config --global user.name "vmaas-bot"
  - git config --global user.email "40663028+vmaas-bot@users.noreply.github.com"
  - pip install python-semantic-release
  - semantic-release publish
