git:
  depth: false
branches:
  only:
    - master
sudo: required
language: python
python:
  - "3.6"
notifications:
  email: false
install:
  - pip install -U pip pipenv codecov
  - cd tests
  - pipenv install --system && pipenv check
  - cd ..
script:
  - PIPENV_VERBOSITY=-1 /bin/bash run_tests.sh
  - codecov
addons:
  postgresql: "10"
  apt:
    packages:
      - postgresql-10
      - postgresql-client-10
env:
  global:
    - PGPORT=5433
