version: '3'

services:
  ve_database:
    container_name: vulnerability-engine-database
    build:
        context: ./
        dockerfile: ./database/Dockerfile.centos
    image: vulnerability-engine/database:latest
    restart: unless-stopped
    env_file:
      - ./conf/common.env
      - ./conf/database.env
    ports:
      - 15432:5432
    volumes:
      - vulnerability-engine-db-data:/var/lib/pgsql/data

  ve_evaluator_recalc:
    container_name: vulnerability-engine-evaluator-recalc
    build:
      context: ./
      dockerfile: ./evaluator/Dockerfile
    image: vulnerability-engine/evaluator:latest
    restart: unless-stopped
    env_file:
      - ./conf/common.env
      - ./conf/evaluator.env
      - ./conf/evaluator_recalc.env
    ports:
      - 8084:8085
    depends_on:
      - ve_database
      - platform_mock

  ve_evaluator_upload:
    container_name: vulnerability-engine-evaluator-upload
    build:
      context: ./
      dockerfile: ./evaluator/Dockerfile
    image: vulnerability-engine/evaluator:latest
    restart: unless-stopped
    env_file:
      - ./conf/common.env
      - ./conf/evaluator.env
      - ./conf/evaluator_upload.env
    ports:
      - 8085:8085
    depends_on:
      - ve_database
      - platform_mock

  ve_listener:
    container_name: vulnerability-engine-listener
    build:
        context: ./
        dockerfile: ./listener/Dockerfile
    image: vulnerability-engine/listener:latest
    restart: unless-stopped
    env_file:
      - ./conf/common.env
      - ./conf/listener.env
    ports:
      - 8086:8086
    depends_on:
      - ve_database
      - platform_mock

  ve_manager:
    container_name: vulnerability-engine-manager
    build:
      context: ./
      dockerfile: ./manager/Dockerfile
    image: vulnerability-engine/manager:latest
    restart: unless-stopped
    env_file:
      - ./conf/common.env
      - ./conf/manager.env
    ports:
      - 8300:8443
    depends_on:
      - ve_database
      - platform_mock

  platform_mock:
    container_name: platform-mock
    build:
        context: ./
        dockerfile: ./platform_mock/Dockerfile

    image: vulnerability-engine/platform-mock:latest
    restart: unless-stopped
    ports:
      - 9092:9092
      - 8100:8000
    tmpfs: /tmp

  ve_vmaas_sync:
    container_name: vulnerability-engine-vmaas-sync
    build:
        context: ./
        dockerfile: ./vmaas_sync/Dockerfile
    image: vulnerability-engine/vmaas-sync:latest
    restart: unless-stopped
    env_file:
      - ./conf/common.env
      - ./conf/vmaas-sync.env
    ports:
      - 8200:8000
      - 8087:8087
    depends_on:
      - ve_database
      - platform_mock

  ve_prometheus:
    container_name: ve-prometheus
    image: prom/prometheus:v2.1.0
    volumes:
      - ve-prometheus-data:/prometheus
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    security_opt:
      - label=disable
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9091:9090
    depends_on:
      - ve_evaluator_recalc
      - ve_evaluator_upload
      - ve_listener
      - ve_manager
    restart: always

  ve_grafana:
    container_name: ve-grafana
    image: grafana/grafana:6.2.5
    volumes:
      - ve-grafana-data:/var/lib/grafana
      - ./monitoring/grafana/provisioning/:/etc/grafana/provisioning/
    depends_on:
      - ve_prometheus
    ports:
      - 3001:3000
    env_file:
      - ./monitoring/grafana/grafana.conf
    user: "104"
    restart: always

  ve_taskomatic:
    container_name: vulnerability-engine-taskomatic
    build:
      context: ./
      dockerfile: ./taskomatic/Dockerfile
    image: vulnerability-engine/taskomatic:latest
    restart: unless-stopped
    env_file:
      - ./conf/common.env
      - ./conf/taskomatic.env
    depends_on:
      - ve_database

  ve_advisor_listener:
    container_name: vulnerability-engine-advisor-listener
    build:
      context: ./
      dockerfile: ./advisor_listener/Dockerfile
    image: vulnerability-engine/advisor-listener:latest
    restart: unless-stopped
    env_file:
      - ./conf/common.env
      - ./conf/advisor_listener.env
    depends_on:
      - ve_database
      - platform_mock

volumes:
  vulnerability-engine-db-data:
  ve-prometheus-data:
  ve-grafana-data:
