version: '3'

services:
  ve_mock:
    container_name: vulnerability-engine-mock
    build: ./mock
    image: vulnerability-engine/mock:latest
    restart: unless-stopped
    ports:
      - 8080:8080
      - 8043:8043

  ve_database:
    container_name: vulnerability-engine-database
    build: ./database
    image: vulnerability-engine/database:latest
    restart: unless-stopped
    env_file:
      - ./conf/database-connection-admin.env
    ports:
      - 15432:5432
    volumes:
      - vulnerability-engine-db-data:/var/lib/pgsql/data

  ve_evaluator:
    container_name: vulnerability-engine-evaluator
    build:
      context: ./
      dockerfile: ./evaluator/Dockerfile
    image: vulnerability-engine/evaluator:latest
    restart: unless-stopped
    env_file:
      - ./conf/database-connection-evaluator.env
      - ./conf/kafka-connection-evaluator.env  
    depends_on:
      - ve_database

  ve_listener:
    container_name: vulnerability-engine-listener
    build: ./listener
    image: vulnerability-engine/listener:latest
    restart: unless-stopped
    env_file:
      - ./conf/listener.env
      - ./conf/database-connection-listener.env
    ports:
      - 8200:8000
    depends_on:
      - ve_database
      - ve_kafka

  ve_manager:
    container_name: vulnerability-engine-manager
    build: ./manager
    image: vulnerability-engine/manager:latest
    restart: unless-stopped
    env_file:
      - ./conf/database-connection-manager.env
    ports:
      - 8480:8080
      - 8443:8443
    depends_on:
      - ve_database

  ve_kafka:
    container_name: vulnerability-kafka
    build: ./kafka
    image: vulnerability-engine/kafka:latest
    restart: unless-stopped
    ports:
      - 9092:9092

volumes:
  vulnerability-engine-db-data:
