name: Tests

on:
  push:
    branches:
      - "master"
      - "stable"
  pull_request:
    branches:
      - "master"
      - "stable"

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    env:
      PIPENV_CHECK: "1"
      PGPORT: "5433"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip pipenv codecov importlib-resources==1.5.0
          cd tests && pipenv install --ignore-pipfile --deploy --system && if [ "${PIPENV_CHECK}" == "1" ] ; then pipenv check --system -i 39462 -i 41002; fi && cd ..
      - name: Install PostgreSQL
        uses: harmon758/postgresql-action@v1
        with:
          postgresql version: "12.7"
      - name: Run tests
        run: |
          /bin/bash run_tests.sh
      - name: Run codecov
        run: |
          codecov
