name: Tests

on:
  push:
    branches:
      - "master"
      - "stable"
  pull_request:
    branches:
      - "master"
      - "stable"

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    env:
      PIPENV_CHECK: "1"
      PGPORT: "5433"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip poetry importlib-resources==1.5.0
          poetry export --with dev -f requirements.txt --output requirements.txt
          pip install -r requirements.txt
      - name: Run tests
        run: |
          /bin/bash run_tests.sh
      - name: Run codecov
        uses: codecov/codecov-action@v3.1.2
